{{template "header"}}
<title>文章 - 我的 beeblog 博客</title>
    <script type="text/javascript">
    function checkInput() {
        var name = document.getElementById("name");
        if (name.value.length == 0){
            alert("请输入分类名称");
            return false
        }
        return true
    }
    </script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
       <div class="container">
          {{template "navbar" .}}
      
      <div>
      <div class="container">
        <h1>文章列表</h1>
        <a href="/topic/add" class="btn btn-default">添加文章</a>
        <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>文章名称</th>
                        <th>最后更新</th>
                        <th>浏览</th>
                        <th>回复数</th>
                        <th>最后回复</th>
                        <th>操作</th>
                    </tr>
                </thead>
                {{range .Topics}}
                <tbody>
                        <th>{{.Id}}</th>
                        <th>{{.Title}}</th>
                        <th>{{.Update}}</th>
                        <th>{{.View}}</th>
                        <th>{{.ReplyCount}}</th>
                        <th>{{.ReplyTime}}</th>
                        <th><a href="/topic/modify/?tid={{.Id}}">修改</a>
                            <a href="/topic/delete/?tid={{.Id}}">删除</a></th>
                </tbody>
                {{end}}
            </table> 
      </div>
  
      <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.2.1/jquery.js"></script>
      <script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.min"></script>
</body>
</html>