
{{template "header"}}
<title>{{.Topic.Title}} - 我的 beeblog 博客</title>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          {{template "navbar" .}}
        </div>	
      </div>
      <br><br>
      <div class="container">
        {{$labels := .Labels}}
        {{with .Topic}}
        <h1>{{.Title}} <small>{{.Category}}</small></h1>
        <h5>
          {{range $labels}}
          <a href="/?labels={{.}}">{{.}}</a>
          {{end}}
        </h5>
        {{.Content}}
        <h5>文章附件<a href="/attachment/{{.Attachment}}">{{.Attachment}}</a></h5>
        {{end}}
      </div>
      
      <div class="container">
        {{$tid := .Topic.Id}}
        {{$isLogin := .IsLogin}}
        {{range .Replies}}
        <h3>{{.Name}} <small>{{.Created}}<a href="/reply/delete?tid={{$tid}}&rid={{.Id}}">
          删除</a></small> </h3>
        {{.Content}}
        {{end}}    
      
        <h3>本文回复</h3>
      </div>
        <form method="post" action="/reply/add">
          <input type="hidden" name="tid" value="{{.Topic.Id}}">
          <div class="form-group">
            <label>显示昵称：</label>
            <input type="text" class="form-control" name="nickname">
          </div>
          <div class="form-group">
            <label>评论内容：</label>
            <textarea name="content" class="form-control" id="" cols="30" rows="10"></textarea>
          </div>
          <button class="btn btn-default">提交回复</button>
        </form>

      <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.2.1/jquery.js"></script>
      <script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.min"></script>
</body>
</html>